.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f5f5f5; 
}

.logo-register {
  width: 150px; 
  height: auto; 
  margin-bottom: 20px; 
  display: block; 
  margin: 0 auto; 
}

.register-form {
  max-width: 400px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.register-form h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.register-form form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.register-form .form-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
  text-align: left;
}

.register-form .form-input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.register-form .form-submit {
  padding: 0.75rem;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form .form-submit:hover {
  background-color: #0056b3;
}

.register-form .login-link {
  display: block;
  margin-top: 1rem;
  color: #007BFF;
}

.register-form .login-link a {
  color: #007BFF;
  text-decoration: none;
}

.register-form .login-link a:hover {
  text-decoration: underline;
}
